# ==========================================
# BLOC : Authentification Serper.dev
# ==========================================
SERPER_API_KEY= # TODO: Enter your value here
GEMINI_API_KEY= # TODO: Enter your value here

# ==========================================
# BLOC : variable pour l'application
# ==========================================
GEMINI_MODEL= # TODO: Enter your value here

# ==========================================
# BLOC : variable pour OIDC
# ==========================================
OIDC_ENABLED= # TODO: Enter your value here
OIDC_CLIENT_ID= # TODO: Enter your value here
OIDC_CLIENT_SECRET= # TODO: Enter your value here
OIDC_CONF_URL= # TODO: Enter your value here
OIDC_AUTH_METHOD= # TODO: Enter your value here

# ==========================================
# BLOC : variable pour le path UNC de la ludotech
# ==========================================
HOST_GAMES_PATH= # TODO: Enter your value here
